{% extends "base.html" %}

{% block content %}

<h1>About this site</h1>

<p>The usual approach to polling is to poll infrequently and ask a lot of questions.
I want to see what happens when you ask <em>one</em> question but ask it often.</p>

<h2>The one question: “How’s it going?”</h2>

<p>That is all. Please let us know about your general feelings.
Had a great day? Had a rough morning? Stomach upset?
How do you feel about the direction of your team?
Is that deadline filling you with dread and gloom?
Do you feel a black hole in your stomach as you check your email?</p>

<p>Don't think too hard about it.
Just pick the emoticon that matches your overall mood more closely.</p>

<p>If you feel the need to express yourself more fully,
simply talk to your manager or your fellow coworkers.</p>

<h2>Your answer</h2>

<p>All votes are stored in the database anonymously (voter information is
simply never stored to the database to begin with).</p>

{% endblock %}